/* MOBILE WORKFLOW */

main {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  gap: 2rem;
}

/* General card visual */
.card-testimonial {
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 305px;
  display: grid;
  position: relative;
  z-index: 0;
  box-shadow: 40px 70px 45px rgba(0, 0, 0, 0.15);
}

.quote-icon {
  position: absolute;
  opacity: 0;
  width: 104px;
  height: 102px;
}

.card-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1.0625rem;
  padding-bottom: 1rem;
}

.profile {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  grid-column: 1;
  grid-row: span 2;
}

.card-header h1,
.card-header h2 {
  display: flex;
  flex-direction: column;
}

.card-header h1 {
  grid-column: 2;
  grid-row: 1;
}

.card-header h2 {
  grid-column: 2;
  grid-row: 2;
}

.card-content {
  display: grid;
  gap: 1rem;
}

.white-text {
  color: var(--primary-text);
}

.testimonial-title-white {
  color: var(--primary-text);
}

/* Purple Card */
.purple-card {
  background-color: var(--card-bg-purple);
}

.purple-text {
  color: var(--secondary-text-purple);
}

.border-profile-purple-muted {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-profile-purple-muted);
}

.testimonial-content-purple {
  color: var(--secondary-text-purple);
}

/* Grey 500 Card */
.grey-card {
  background-color: var(--card-bg-gray);
}

.grey-200-text {
  color: var(--primary-text-muted-200);
}

.testimonial-content-gray-100 {
  color: var(--secondary-text-100);
}

/* White Card */
.white-card {
  background-color: var(--card-bg-white);
}

.grey-500-text {
  color: var(--primary-text-muted-500);
}

.grey-400-text {
  color: var(--secondary-text-400);
}

.testimonial-title-gray-500 {
  color: var(--primary-text-muted-500);
}

.testimonial-content-gray-400 {
  color: var(--secondary-text-400);
}

/* Dark Blue card */
.dark-blue-card {
  background-color: var(--card-bg-dark-blue);
}

.border-profile-purple {
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-profile-purple);
}

.testimonial-title-gray-200 {
  color: var(--primary-text-muted-200);
}

/* TABLET MEDIA QUERIES */
@media (min-width: 48rem) {
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 2rem;
  }

  main {
    padding: 0;
    width: 100%;
    max-width: 647px;
    grid-template-columns: repeat(2, 1fr);
  }

  .quote-icon {
    opacity: 1;
    top: 0;
    right: 167px;
    z-index: 0;
  }

  .testimonial-title {
    position: relative;
    z-index: 1;
  }

  .first-card {
    grid-column: span 2;
    grid-row: 1;
  }

  .second-card {
    grid-column: 1;
    grid-row: 2;
  }

  .third-card {
    grid-column: 2;
    grid-row: 2;
  }

  .fourth-card {
    grid-column: span 2;
    grid-row: 3;
  }

  .fifth-card {
    grid-column: span 2;
    grid-row: 4;
  }

  .first-card,
  .fourth-card,
  .fifth-card {
    width: 100%;
    max-width: 647px;
  }

  .second-card,
  .third-card {
    width: 100%;
    height: 100%;
    max-width: 307.5px;
  }
}

/* DESKTOP MEDIA QUERIES */

@media (min-width: 75rem) {
  body {
    height: 100vh;
  }

  main {
    padding: 0;
    max-width: 1114px;
    grid-template-columns: repeat(4, 1fr);
  }

  .quote-icon {
    right: 60px;
  }

  .first-card {
    grid-column: span 2;
    grid-row: 1;
  }

  .second-card {
    grid-column: 3;
    grid-row: 1;
  }

  .third-card {
    grid-column: 1;
    grid-row: 2;
  }

  .fourth-card {
    grid-column: span 2;
    grid-row: 2;
  }

  .fifth-card {
    grid-column: 4;
    grid-row: span 2;
    width: 100%;
    height: 100%;
  }

  .first-card,
  .fourth-card {
    max-width: 540px;
  }
}
