/* MOBILE WORKFLOW */

main {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  gap: 2rem;
}

/* General card visual */
.card-testimonial {
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 19.0625rem;
  display: grid;
  position: relative;
  z-index: 0;
  box-shadow: 40px 70px 45px rgba(0, 0, 0, 0.15);
}

.quote-icon {
  position: absolute;
  opacity: 0;
  width: 104px;
  height: 102px;
}

.card-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1.0625rem;
  padding-bottom: 1rem;
}

.profile {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  grid-column: 1;
  grid-row: span 2;
}

.card-header h1,
.card-header h2 {
  display: flex;
  flex-direction: column;
}

.card-header h1 {
  grid-column: 2;
  grid-row: 1;
}

.card-header h2 {
  grid-column: 2;
  grid-row: 2;
}

.card-content {
  display: grid;
  gap: 1rem;
}

.border-profile-purple,
.border-profile-purple-muted {
  border-width: 2px;
  border-style: solid;
}

.card-title {
  color: var(--card-primary-text);
}

.card-subtitle {
  color: var(--card-subtitle-text);
}

.card-body {
  color: var(--card-secondary-text);
}

/* DANIEL CLIFFORD CARD */
.daniel-card {
  background-color: var(--card-bg-purple);
  --card-primary-text: var(--primary-text);
  --card-secondary-text: var(--secondary-text-purple);
}

.border-profile-purple-muted {
  border-color: var(--border-profile-purple-muted);
}

/* JONATHAN WALTERS CARD*/
.jonathan-card {
  background-color: var(--card-bg-gray);
  --card-primary-text: var(--primary-text);
  --card-subtitle-text: var(--secondary-text-200);
  --card-secondary-text: var(--secondary-text-100);
}

/* JEANETTE HARMON */
.jeanette-card {
  background-color: var(--card-bg-white);
  --card-primary-text: var(--primary-text-muted-500);
  --card-secondary-text: var(--secondary-text-400);
}

/* PATRICK ABRAMS CARD*/
.patrick-card {
  background-color: var(--card-bg-dark-blue);
  --card-primary-text: var(--primary-text);
  --card-secondary-text: var(--primary-text-muted-200);
  --card-subtitle-text: var(--secondary-text-100);
}

.border-profile-purple {
  border-color: var(--border-profile-purple);
}

/* KIRA CARD */
.kira-card {
  background-color: var(--card-bg-white);
  --card-primary-text: var(--primary-text-muted-500);
  --card-secondary-text: var(--secondary-text-400);
}

/* TABLET MEDIA QUERIES */
@media (min-width: 48rem) {
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 2rem;
  }

  main {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    max-width: 40.4375rem;
  }

  .card-testimonial {
    max-width: 100%;
  }

  .quote-icon {
    opacity: 1;
    top: 0;
    right: 25.81%;
    z-index: 0;
  }

  .card-title {
    position: relative;
    z-index: 1;
  }

  .first-card {
    grid-column: span 2;
    grid-row: 1;
  }

  .second-card {
    grid-column: 1;
    grid-row: 2;
  }

  .third-card {
    grid-column: 2;
    grid-row: 2;
  }

  .fourth-card {
    grid-column: span 2;
    grid-row: 3;
  }

  .fifth-card {
    grid-column: span 2;
    grid-row: 4;
  }

  .second-card,
  .third-card {
    height: 100%;
  }
}

/* DESKTOP MEDIA QUERIES */

@media (min-width: 75rem) {
  body {
    height: 100vh;
  }

  main {
    padding: 0;
    max-width: 69.625rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .quote-icon {
    right: 11.11%;
  }

  .first-card {
    grid-column: span 2;
    grid-row: 1;
  }

  .second-card {
    grid-column: 3;
    grid-row: 1;
  }

  .third-card {
    grid-column: 1;
    grid-row: 2;
  }

  .fourth-card {
    grid-column: span 2;
    grid-row: 2;
  }

  .fifth-card {
    grid-column: 4;
    grid-row: span 2;
    height: 100%;
  }
}
